<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yy/MM/dd HH:mm:ss}][%-5p]%m%n " />
		</Console>
		<RollingFile name="RollingFile" fileName="./logs/app.log"
			filePattern="./logs/app-%d{yyyy-MM-dd}.log" ignoreException="false">
			<PatternLayout pattern="[%d{yy/MM/dd 'at' HH:mm:ss}][%-5level]%msg%xEx%M%n " />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- <SizeBasedTriggeringPolicy size="50MB" /> -->
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>